<base href="/DesktopModules/dnn_OpenNewsSPA/ng-apps/on-blog-admin/">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
<!--<script>
  window.$2sxc || (window.$2sxc = {});
</script>-->
<app-root>loading...</app-root>
<script type="text/javascript" src="dist/inline.bundle.js"></script>
<script type="text/javascript" src="dist/polyfills.bundle.js"></script>
<script type="text/javascript" src="dist/vendor.bundle.js"></script>
<script type="text/javascript" src="dist/main.bundle.js"></script>

<!-- Prevent Form Submit -->
<script>
	(function() {
		var firstForm = document.querySelectorAll("form")[0];
		if (!firstForm) return false;
		firstForm.addEventListener('submit', function(e) {
			e.preventDefault();
		});
	})();
</script>
<!-- </body> -->