@using YeditUK.Modules.dnn_OpenNews.Components.Helpers;
@inherits DotNetNuke.Web.Razor.DotNetNukeWebPage<dynamic>
@functions{
  public static bool isAdmin() {
    return false;
  }
  public static string ngAssetPath(string ngRoot, string assetPath) {
    return ngRoot + assetPath;
  }
}
@{
  Layout = null;
  string ngRoot = "/DesktopModules/{0}/ng-apps/on-admin/";
  ngRoot = string.Format(ngRoot, Dnn.Module.DesktopModule.FolderName);
  string cdv = CommonHelper.GetCrv().ToString();
  var iadmin = "/DesktopModules/" + Dnn.Module.DesktopModule.FolderName + "/Views/Templates/Razor/Default/adminframe.cshtml";
  if (Request.QueryString["articleid"]!=null) {
    iadmin += "/article/" + Request.QueryString["articleid"].ToString();
  }
}
<style>
  body {
    overflow: hidden;
  }
  #ngframe {
    position: relative;
    background: #000;
    border: none;
    width: 100%;
  }
  .ngframe-container {
    display: flex;
    flex: 1;
    align-content: stretch;
    align-items: stretch;
    height: 100%;
    flex-direction: column;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 99999999;
  }
</style>
@if (Dnn.User.IsInRole("Administrators"))
{
  <div class="ngframe-container">
    <iframe id="ngframe" frameborder="0" style="min-height: 100vh"
            src="@(iadmin + "?cdv="+cdv+"w&mid=" + Dnn.Module.ModuleID + "&tid=" + Dnn.Tab.TabID + "&dtpFolderName=" + Dnn.Module.DesktopModule.FolderName)"></iframe>
  </div>
  
}
else
{
  <p>Permission Denied.</p>
}<!-- Prevent Form Submit -->